*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main {
    margin: 30px 8px;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 3px;
    text-align: center;
    color: #333333;    
}

#title {

}
#title-header {
    font-size: 40px;
    margin-top: 26px;
}
#title-desc {
    margin: 16px 0;
}
#img-div {
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
}
#image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin: 15px 0 5px 0;
}

#info-header {
    margin: 50px 0;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px;
    text-align: left;
    line-height: 1.6;
    padding-left: 40px;
    box-sizing: content-box;
}
li {
    margin: 16px 0;
}
#info-talk {
    max-width: 545px;
    margin: 0 auto 50px;
    text-align: left;
    font-style: italic;
}
#info-talk p:first-child {
    margin: 16px 0;    
}
#info-more {
    margin: 18px 0;
}